@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

title-page{
  margin-left: 10%;
  margin-right: 10%
}

@media only screen and (min-width: 600px) {
  .container{
    display: flex;
    
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
  }

  .left{

    width: 48%;
  }
  
  .right{
    width: 48%;
  }
}



